.venv/
.streamlit-venv/
venv/
env/
__pycache__/
*.py[cod]
*.egg-info/
runs/*
!runs/.gitkeep
models/*
!models/plushie_detector/
models/plushie_detector/*
!models/plushie_detector/.gitkeep
!models/pretrained/
models/pretrained/*
!models/pretrained/.gitkeep

*.pt
